<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.totalrecallkotlin">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TotalRecallKotlin">
        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".AutoAnimActivity"></activity>
        <activity android:name=".RetrofitActivity"></activity>
        <activity android:name=".transitions_test.ToActivity" />
        <activity android:name=".transitions_test.FromActivity" />
        <activity android:name=".AnimActivity" />
        <activity
            android:name=".RecyclerViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_recycler_view"
            android:theme="@style/Theme.TotalRecallKotlin.NoActionBar" />
        <activity
            android:name=".MainActivityList"
            android:label="@string/title_activity_main_list" />
        <activity
            android:name=".NavActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_nav" />
        <!--
         android:configChanges="orientation|screenSize": позволяет НЕ пересоздавать активити
            при повороте устройства. Таким образом, UI не меняется при повороте (не пересоздается)
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>